<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>

    <title>Run Analyzer</title>
</head>

<body>
    <div class="container rounded text-center my-4 py-2">
        <h1>Run Analyzer</h1>
        <h4 style="">(powered by Strava)</h4>
        <form action="/login" method="get">
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>

    
    <%- include ('./partials/bootstrap_scripts.ejs') %>
</body>

</html>