<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>

    <%// automatically refreshes the page after the given number of seconds and loads the url specified (relative parent directory in this case) %>
    <meta http-equiv="refresh" content="0.5; url='../'" />
</head>

<body style="padding-top: 0px;">
    <h3 class="m-3">Logging Out... <a href="../">click to go home</a></h3>

    <%// Strava refusing to connect within iframe %>
    <%// <iframe src="https://www.strava.com/logout" frameborder="Strava User Account Logout Page"></iframe>%>
    
    <div id="siteloader" hidden></div>



    <%- include ('./partials/bootstrap_scripts.ejs') %>

    <script>

        $(()=>{
            //run jquery script to logout of Strava user's account
            $("#siteloader").html('<object data="https://www.strava.com/logout" />');

            //below function not needed due to automatic refresh using meta tag in the header
            /* 
            //wait 2 seconds and then go to parent directory (website home page)
            setTimeout(() => {
                window.location.href = '../' 
            }, 2000);
            */
            
        })
        

        /*
        sources: 

        https://stackoverflow.com/questions/34753782/how-to-chain-redirects-in-node-express

        https://www.w3schools.com/tags/tag_iframe.asp

        https://groups.google.com/forum/#!topic/strava-api/DjfRRWsPFuk

        https://www.w3docs.com/snippets/html/how-to-redirect-a-web-page-in-html.html

        https://stackoverflow.com/questions/18145273/how-to-load-an-external-webpage-into-a-div-of-a-html-page

        https://stackoverflow.com/questions/1655065/redirecting-to-a-relative-url-in-javascript

        */
    </script>
</body>

</html>