body {
    background-color: #f7f7f9;
    padding-top: 85px;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url('/running-painting.jpg');
    background-size: cover;
}

body > div {
    background-color: white;

    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

#index-body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url('/running-painting.jpg');
    background-size: cover;
}

#index-header-div {
    background-color: #fc5200;
}

#index-welcome-div {
    background-color: rgba(255, 255, 255, 0.8);
    width: 650px;

    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

button, a.btn {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

#user-overview-div {
    width: max-content;
}

#activity-overall-details {
    width: max-content;
}

nav {
    background-color: #fc5200;
}

.navbar-brand {
    font-size: 1.75rem;
}

nav .border {
    border-color: black!important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,1);
}

#user-img {
    width: 200px;
    vertical-align: text-bottom;
}